td{
  padding: 10px;
}
.table-order_number{
  font-weight: 600;
}
@media (max-width: 1000px) {
  .table-element_hide{
    display: none;
  }
}
.table-button_container{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.table-button{
  display: inline-block;
  width: 10%;
  padding: 0 10px;
  margin: 5px 0;
}
